.App {
  text-align: center;
  margin-top: 1rem;
}





/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display {
  display: block;
}
input{
  margin-top: 0.1rem;
}

.container{
  background-size: cover;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 3rem;
}
input{
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 0.6rem;
  background-color: rgba(252, 250, 250, 0.363);
}

.notfound{
  color: rgba(245, 39, 39, 0.774);
}
.weatherdata{
  width: 100%;
  margin: 8rem 0;
  background-color: rgba(213, 218, 222, 0.636);
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}
.weatherdata ul{
  list-style-type: none;
}

.weatherdata li{
  padding-top: 0.2rem;
}
.city{
  font-size: 1.5rem;
}